.icon-register{
    font-size: 20px;
}

.addtopForNavbar{
    top: 0!important;
    transition: all .5s;
}



@media only screen and (max-width: 768px) {
    .bg-sm-color{
        background-color: rgb(255, 255, 255)!important;
    }
}

@media only screen and (max-width: 1200px) {
    .d-image-none{
        display: none;
    }
}